%center_flex-position {
  justify-content: center;
  align-items: center;
}

// %button-style {
//   width: 200px;
//   height: 50px;
//   padding: 10px 32px;

//   font-weight: 700;
//   font-size: 16px;

//   background-color: #2196f3;
//   color: #ffffff;

//   border-radius: 4px;
//   cursor: pointer;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

@import "./base/main-body-styles";
@import "./base/normalize";

@import "./utils/variables";
@import "./utils/placeholders";

@import "./components/Studio-page/header";
@import "./components/Studio-page/studio-page__hero-section";
@import "./components/Studio-page/studio-page__benefits-section";
@import "./components/Studio-page/_specialization-section.scss";
@import "./components/Studio-page/team-section.scss";
@import "./components/Studio-page/clients-section";
@import "./components/Studio-page/footer";

//////////


///////////////////     PORTFOLIO ///////

.portfolio-main-section {


  padding: $mobile-and-tablet-section-padding;

  @media screen and (min-width:480px) {
    width: 480px;
  }
  @media screen and (min-width:768px) {
    width: 768px;
  }
  @media screen and (min-width:1600px) {
    width: 1600px;
    padding: $desctop-section-padding;
  }
}
.portfolio-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 6px 22px;

  row-gap: 15px;
}

.portfolio-nav__item {
  @extend%portfolio-nav-font-styles;
  // margin-right: 8px;
  padding: 6px 22px;
  background-color: #f5f4fa;
  border-radius: 4px;

  &:not(:last-child) {
    margin-right: 8px;
  }

  &:hover {
    color: $white-color;
    background-color: $hover-color;
  }
}

.portfolio-grid {
  display: flex;
  gap: 30px;
  flex-direction: column;

  margin-top: 40px;

  @media screen and (min-width: 768px) {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;

   margin-top: 30px;

  }
}
.portfolio-grid__card {
  width: 450px;
  height: 404px;

  border: 1px solid #eeeeee;
  @media screen and (min-width: 768px) {
   

    width: 354px;
  }
  @media screen and (min-width: 1600px) {
    width: 370px;
  }
}
.portfolio-grid__img-div {
  position: relative;
  width: 100%;
  // width: 450px;
  height: 294px;
  overflow: hidden;

  &:hover .portfolio-grid__backdrop-img,
  &:focus .portfolio-grid__backdrop-img,
  &:active .portfolio-grid__backdrop-img {
    transform: translateY(0);
  }
}
.portfolio-grid__img {
  width: 450px;
  height: 294px;
}
.portfolio-grid__backdrop-img {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-grid__backdrop-text {
  font-size: 18px;
  color: $white-color;
  margin: 0 24px;
}
.portfolio-grid__name {
  margin: 20px 24px 0px 24px;
}
.portfolio-grid__description {
  margin: 4px 24px 0px 24px;
}
